.checkout {
  background-color: rgb(228, 220, 220);
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  padding: 50px;
  padding-top: 125px;
  padding-bottom: 125px;
  border-radius: 5px;
  max-width: 600px;
}
.checkout > h1 {
  font-weight: 300;
  text-align: center;
}
