.product {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: white;
  border-radius: 5px;
}
.product-image {
  object-fit: contain;
  height: 100px;
  width: 200px;
  margin-top: 5px;
}
.product-infoTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0;
}
.product-infoTop > p {
  padding-top: 5px;
  margin-bottom: 5px;
}
.product-infoBottom {
  display: flex;
  flex-direction: column;
}
.product-infoBottom > p {
  margin: 0;
}
.product-rating {
  display: flex;
}
.product-icon {
  cursor: pointer;
}
